body {
  background-color: #121212;
  color: #fff;
  overflow: hidden;
}

.loader {
  display: flex;
  height: 100vh;
  align-items: center;
}

.loader-inner {
  flex: 1;
  padding: 2rem 0;
  text-align: center;
}

#reload {
  width: 16px;
  height: 16px;
  margin-top: 1rem;
  fill: #fff;
  opacity: .6;
  cursor: pointer;
  transform: scale(0);
  transition: transform 300ms ease;
}

#reload:hover {
  opacity: 1;
}

#reload.active {
  transform: scale(1);
}

canvas {
  transition: opacity 300ms ease;
}

.canvas-wrapper {
  position: relative;
  padding: 2rem 20px 0;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
body {
  background-color: #225877;
  font-family: "Open Sans", sans-serif;
}

.notifications {
  position: absolute;
  right: 10px;
  top: 10px;
}

.notify {
  width: 300px;
  height: 70px;
  background-color: #090700;
  border-style: solid;
  border-color: #38ad65;
  border-radius: 7px;
  box-shadow: 0 1px 4px #1c4963;
  overflow: hidden;
  cursor: pointer;
  margin: 10px 0;
}

.notify:first-child {
  margin: 0 0 10px 0;
}

.circle {
  width: 28px;
  height: 20px;
  display: block;
  border-radius: 100%;
  transform: translate(17px, 17px);
  color: whitesmoke;
  padding: 10px 0 10px 13px;
}

.gr > .circle {
  background-color: #38ad65;
}

.gr > .info span:first-child {
  color: #38ad65;
}

.rd > .circle {
  background-color: #de3b12;
}

.rd > .info span:first-child {
  color: #de3b12;
}

.or > .circle {
  background-color: #c87a46;
}

.or > .info span:first-child {
  color: #c87a46;
}

.bl > .circle {
  background-color: #225877;
}

.bl > .info span:first-child {
  color: #225877;
}

.info {
  width: 230px;
  height: 70px;
  transform: translate(70px, -35px);
  padding: 10px;
}

.info span:first-child {
  display: block;
  color: #38ad65;
  font-weight: 600;
  font-size: 15px;
}

.info span:last-child {
  color: #bfbfbf;
  font-size: 13px;
}

.info span a {
  color: #38ad65;
  text-decoration: none;
  font-weight: 600;
}
